<div class="flex flex-col items-center mt-5">

  <h2 class="mb-2 font-bold text-lg">Resources</h2>

  <p>Here are some links to help you get started:</p>

  <div
    class="flex flex-col flex-wrap justify-center mt-2 w-full
           sm:w-auto sm:flex-row"
  >
    <a
      *ngFor="let res of resources"
      class="flex justify-center items-center mt-2 p-4 sm:mr-2 sm:last:mr-0
             border rounded-lg bg-gray-100 text-blue-600 cursor-pointer
             transition duration-500 ease-in-out
             hover:-translate-y-1 hover:shadow-2xl"
      target="_blank" rel="noopener" [href]="res.href"
    >
      <svg-icon
        class="text-gray-600 fill-current"
        svgClass="w-6 h-6"
        [name]="res.svg"
      >
      </svg-icon>
      <span class="ml-2">{{ res.label }}</span>
      <svg-icon
        class="text-gray-600 fill-current"
        svgClass="w-6 h-6"
        name="chevron-right"
      >
      </svg-icon>
    </a>
  </div>

</div>
