<footer
  class="flex flex-col sm:flex-row justify-center items-center my-4
         text-sm"
>
  <span class="py-1">Love Angular?</span>

  <span class="sm:ml-2 py-1">Give our repo a star.</span>

  <a
    class="flex items-center ml-2 mt-2 sm:mt-0 px-2 py-1 text-xs
           border border-gray-500 rounded-md
           bg-gray-200 hover:bg-gray-300 hover:border-gray-600
           font-semibold focus:outline-none"
    href="https://github.com/angular/angular"
  >
    <svg-icon
      class="mr-1 w-4 h-4"
      name="gh-star"
    ></svg-icon>
    Star
  </a>

</footer>
