<div
  class="relative flex items-center w-56 ml-6 py-3
         bg-blue-600 text-white font-semibold border-none
         sm:w-auto sm:pr-6"
>

  <svg-icon
    class="absolute top-0 left-0
           transform -translate-x-8 -translate-y-2
           sm:-translate-x-6 sm:-translate-y-4"
    name="app-rocket"
    svgClass="w-20 h-20"
  ></svg-icon>

  <span class="ml-16">{{ title }} app is running!</span>

  <svg-icon
    class="absolute top-0 right-0 -z-10
            transform translate-x-5 sm:-translate-x-24"
    svgClass="w-160 h-160"
    name="app-rocket-smoke"
  ></svg-icon>
</div>
