<div
  class="relative flex items-center w-56 ml-6 py-3
         bg-blue-600 text-white font-semibold border-none
         sm:w-auto sm:pr-6"
>

  <svg-icon
    class="absolute top-0 left-0 w-20 h-20
           transform -translate-x-4 -translate-y-1
           sm:-translate-x-3 sm:-translate-y-2"
    name="app-rocket"
  ></svg-icon>

  <span class="ml-16">{{ title }} app is running!</span>

  <svg-icon
    class="fixed inset-0 hidden sm:block -z-10
           transform -rotate-5 translate-y-14 -translate-x-24"
    style="width: 100%; height: 34rem;"
    name="app-rocket-smoke"
  ></svg-icon>
</div>
